@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --color-text-on-primary: #fffefa;
  --color-background: #fffefa;
  --color-primary-dark: #c91c19;
  --color-danger: #c33e38;
}

.font-proxima {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.font-bodoni, .font-display {
  font-family: ltc-bodoni-175, serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .18em;
  line-height: 1.2em;
  text-transform: none;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
}

.product-details-image img {
  width:700px
}

.modal-wrap.product-details-modal-wrapper {
  top: 15%;
}

.product-details-modal-wrapper {
  position: fixed;
  inset: 0;
  z-index: 1000;
  overflow: auto;
  outline: 0;
  text-align: center;
}

.modal-wrap.product-details-modal-wrapper .modal {
  margin-top: 0;
  max-width: 1024px;
  padding-bottom: 0;
}

.modal {
  top: 0;
  display: inline-block;
  padding-bottom: 0;
  text-align: start;
  vertical-align: middle;
}

.modal-container {
  position: fixed;
  inset: 0;
  z-index: 1000;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  pointer-events: none;
}

.modal {
  width: auto;
  height: auto;
  margin-top: 0;
  max-width: 1024px;
  padding-bottom: 0;
  top: 0;
  display: inline-block;
  padding-bottom: 0;
  text-align: start;
  vertical-align: middle;
}

.modal-content {
  padding: 0 !important;
  background-color: transparent;
  box-shadow: none;
  position: relative;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 0;
  border-radius: 8px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),0 3px 6px -4px rgba(0, 0, 0, 0.12),0 9px 28px 8px rgba(0, 0, 0, 0.05);
  pointer-events: auto;
  padding: 20px 24px;
  box-sizing: border-box;
}

.modal-body {
  padding: 0!important;
  text-align: center;
  font-size: 14px;
  line-height: 1.5714285714285714;
  word-wrap: break-word;
}

.product-details-modal {
  height: auto;
  width: auto;
  vertical-align: middle;
  padding: 0 !important;
}

.modal-title-body-container {
  overflow-x: hidden;
}

.product-details-modal-content {
  max-width: none;
  scroll-behavior: smooth;
}

.product-details-image {
  height: 700px;
  max-height: calc(100vh - 40px);
}

.spin-container {
  position: relative;
  transition: opacity 0.3s;
  height: 100%;
}

.product-details-panel {
  padding-bottom: 0;
  width: 500px;
  height: 700px;
  max-height: calc(100vh - 40px);
}

.product-details-body {
  scroll-behavior: smooth;
}

.product-details-wrapper {
  max-height: calc(100vh - 40px);
}

.bg-default2 {
  background-color: #e6e6e6;
}

.bg-primary {
 background-color: #fa5553; 
}

.text-on-primary {
  color: var(--color-text-on-primary);
}

.bg-default {
  background-color: var(--color-background);
}

.bg-primary-dark {
  background-color: var(--color-primary-dark);
}

.hover\:bg-primary-dark:hover {
  background-color:var(--color-primary-dark)
}

.text-danger {
  color: var(--color-danger);
}

.mb-4\.5 {
  margin-bottom: 1.125rem;
}
