@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  /* Colors */
  --color-primary: #fa5553;
  --color-primary-dark: #c91c19;
  --color-primary-faded: rgba(206, 155, 29, 0.1);
  --color-link: #fa5553;

  /* Text colors */
  --color-text: black;
  --color-text2: black;
  --color-text3: black;

  --color-button-text: #fa5553;
  --color-text-on-primary: #fffefa;
  --color-text-on-danger: #fffefa;
  --color-text-on-success: #fffefa;

  --color-header-text: black;
  --color-header-text2: black;
  --color-footer-text: black;
  --color-footer-text2: black;

  /* Background colors */
  --color-background: #fffefa;
  --color-background2: #e6e6e6;
  --color-background3: #fffefa; /* cart footer summary, cart item remove confirmation bg, timeslot picker header and date buttons */
  --color-button-background: #fffefa;
  --color-button-background-dark: #f7f7f7;

  --color-header-background: white;
  --color-footer-background: #fffefa;
  --color-card-background: white;

  /* Border colors */
  --color-border: black;
  --color-button-border: #fa5553;
  --color-button-primary-border: transparent;
  --color-button-danger-border: transparent;

  --color-on-transparent-header: #9a9a9a;

  /* Misc colors */
  --color-danger: #c33e38;
  --color-danger-dark: #af2c26;

  --color-success: #6b8d09;
  --color-success-dark: #567006;

  /* Comment and uncomment as necessary */
  /* For light theme */
  --color-scrollbar-track: rgba(0, 0, 0, 0.05);
  --color-scrollbar-thumb: rgba(0, 0, 0, 0.25);
  --color-background-faded: rgba(0, 0, 0, 0.05);
  /* For dark theme */
  /* --color-scrollbar-track: rgba(255, 255, 255, 0.05); */
  /* --color-scrollbar-thumb: rgba(255, 255, 255, 0.25); */
  /* --color-background-faded: rgba(255, 255, 255, 0.1); */

  /* Font */
  --font-display: ltc-bodoni-175, serif;
  --font-display-weight: 400;
  --font-display-text-transform: none;

  --font-body: "Courier New", Courier, monospace, sans-serif;
  --font-body-weight: 400;

  /* Misc */
  --link-text-decoration: none;
}

.font-proxima {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.font-bodoni, .font-display {
  font-family: ltc-bodoni-175, serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .18em;
  line-height: 1.2em;
  text-transform: none;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
}

/* 
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

.product-details-image img {
  width:700px
}

.ant-modal-wrap.product-details-modal-wrapper {
  overflow: auto;
  top: 15%;
}

.product-details-modal-wrapper {
  position: fixed;
  inset: 0;
  z-index: 1000;
  overflow: auto;
  outline: 0;
  text-align: center;
}

.ant-modal-wrap.product-details-modal-wrapper .ant-modal {
  margin-top: 0;
  max-width: 1024px;
  padding-bottom: 0;
}

.ant-modal-root .ant-modal-centered .ant-modal {
  top: 0;
  display: inline-block;
  padding-bottom: 0;
  text-align: start;
  vertical-align: middle;
}

.ant-modal-mask {
  position: fixed;
  inset: 0;
  z-index: 1000;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  pointer-events: none;
}


.ant-modal {
  width: auto;
  height: auto;
  margin-top: 0;
  max-width: 1024px;
  padding-bottom: 0;
  top: 0;
  display: inline-block;
  padding-bottom: 0;
  text-align: start;
  vertical-align: middle;
}

.ant-modal-content {
  padding: 0 !important;
  background-color: transparent;
  box-shadow: none;
  position: relative;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 0;
  border-radius: 8px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),0 3px 6px -4px rgba(0, 0, 0, 0.12),0 9px 28px 8px rgba(0, 0, 0, 0.05);
  pointer-events: auto;
  padding: 20px 24px;
  box-sizing: border-box;
}

.ant-modal-body {
  padding: 0!important;
  text-align: center;
  font-size: 14px;
  line-height: 1.5714285714285714;
  word-wrap: break-word;
}

.product-details-modal {
  height: auto;
  width: auto;
  vertical-align: middle;
  padding: 0 !important;
}

.modal-title-body-container {
  overflow-x: hidden;
}

.product-details-modal {
  /* max-height: calc(100vh - 40px); */
}

.product-details-modal-content {
  max-width: none;
  scroll-behavior: smooth;
}

.product-details-image {
  height: 700px;
  max-height: calc(100vh - 40px);
}

.ant-spin-container {
  position: relative;
  transition: opacity 0.3s;
  height: 100%;
}

.product-details-panel {
  padding-bottom: 0;
  width: 500px;
  height: 700px;
  max-height: calc(100vh - 40px);
}

.product-details-body {
  scroll-behavior: smooth;
}

.product-details-wrapper {
  max-height: calc(100vh - 40px);
}

.bg-default2 {
  background-color: #e6e6e6;
}

.bg-primary {
 background-color: #fa5553; 
}

.text-on-primary {
  color: var(--color-text-on-primary);
}

.bg-default {
  background-color: var(--color-background);
}

.bg-primary-dark {
  background-color: var(--color-primary-dark);
}

.hover\:bg-primary-dark:hover {
  background-color:var(--color-primary-dark)
}

.text-danger {
  color: var(--color-danger);
}

.mb-4\.5 {
  margin-bottom: 1.125rem;
}
